.about__bgr {
  background-image: url("https://sun9-43.userapi.com/impf/nkIeNWwUIk_DtfSZideJG_Ro_GzhU8XPy2mQsA/PHEJtUlk3vw.jpg?size=1600x400&quality=95&sign=f010b46d6480e706c5c998acbf3fc517&type=album");
  background-size: cover;
}
.our-story__two-title::before {
  content: url("https://sun9-64.userapi.com/impf/r6o0qVr-58ertAhjDd8cDJmfQmvrf4i5XnRMvQ/iADnqiQOoX4.jpg?size=45x34&quality=95&sign=5745d3a5db1e057e46f232d6ebb78745&type=album");
  background-size: cover;
  position: absolute;
  bottom: 100%;
  right: 100%
}
.our-story__two-title::after {
  content: url("https://sun9-64.userapi.com/impf/r6o0qVr-58ertAhjDd8cDJmfQmvrf4i5XnRMvQ/iADnqiQOoX4.jpg?size=45x34&quality=95&sign=5745d3a5db1e057e46f232d6ebb78745&type=album");
  background-size: cover;
  rotate: 180deg;
  position: absolute;
  top: 100%;
  left: 100%
}
.swiper-wrapper {
  height: 352px;
}
//   & .welcome__one-content {
//     max-width: 517px;
//     height: 244px;
//   }
// }
// .welcome__six-divider {
//   background: linear-gradient(to top, rgba(203,172,134, 0) 0%, rgba(203,172,134, .5) 12.5%, rgba(203,172,134, 1) 50%, rgba(203,172,134, .5) 87.5%, rgba(203,172,134, 0) 100%);
// }
// .welcome__seven {
//   background-image: url("https://sun9-50.userapi.com/impg/TSKMbcAdf7ZFUYDPAIgQg93rEytFZT4HawrSRw/rZsoYUWoscM.jpg?size=1600x680&quality=95&sign=1265bede4f7609eaaf8386f36dba4213&type=album");
//   background-size: cover;
// }
// .welcome__eight-content-cart {
//   box-shadow: 0 8px 24px rgba(129, 135, 189, .15);
// }
// .welcome__eight-info-description {
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 2;
//   overflow: hidden;
// }
// .welcome__two-catalog {
//   min-width: 0;
// }
// .swiper-slide-two {
//   width: 285px !important;
// }
// .swiper-slide-four {
//   width: 407px !important;
// }

// @media screen and (max-width: 1400px) {
//   .welcome__six-divider {
//     display: none;
//   }
//   .welcome__six {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     row-gap: 20px;
//     height: auto;
// }
// }

// @media screen and (max-width: 1300px) {
//   .welcome__eight-info {
//     height: 200px;
// }
// }

// @media screen and (max-width: 1150px) {
//   .welcome__eight-content {
//     grid-template-columns: 1fr;
//     grid-template-rows: 2fr;
// }
//   .welcome__eight-info {
//     height: auto;
// }
// }

// @media screen and (max-width: 963px) {
// .welcome__eight-info-title {
//   font-size: 20px;
// }
// .welcome__eight-links {
//   font-size: 14px;
// }
