
.header__panel-content {
  height: 84px;
  display: grid;
  grid-template-columns: 10vw 5vw 18.125vw 9.625vw 23.75vw 1.75vw 6.75vw;
  grid-template-areas: 'logo space-one navigation space-two search space-three user';
  justify-content: center;
  align-items: center;

  & .header__panel-logo {
    grid-area: logo;
  }

  & .header__panel-grid-space-one {
    grid-area: space-one;
  }

  & .header__panel-navigation {
    grid-area: navigation;
  }

  & .header__panel-grid-space-two {
    grid-area: space-two;
  }

  &.header__panel-search {
    grid-area: search;
  }

  & .header__panel-grid-space-three {
    grid-area: space-three;
  }

  & .header__panel-user {
    grid-area: user;
  }

}

@media screen and (max-width: 1300px) {
  .header__panel-content {
    grid-template-columns: 10vw 5vw 21.125vw 9.625vw 20.75vw 1.75vw 6.75vw;
}
}

@media screen and (max-width: 1150px) {
  .header__panel-content {
    grid-template-columns: 10vw 4vw 24.125vw 6.625vw 20.75vw 1.75vw 7.75vw;
}
}

@media screen and (max-width: 938px) {
  .header__panel-content {
    grid-template-columns: 160px 1vw 240px 1vw 200px 1vw 70px;
    grid-template-areas: 'logo space-one navigation space-two search space-three user';
}
}